
@keyframes myfirst
{
0%   {background: red;}
25%  {background: yellow;}
50%  {background: blue;}
100% {background: green;}
}
.div
{
  width:100px;
  height:100px;
  border-radius:100%;
  background-color:
  animation:myfirst 5s;
}
