@media screen and (min-width:960px)
  {
body {
  width:100%;
  padding: 0;
  margin: 1.5rem auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; 
    }
}
    
@media screen and (max-width:960px)
  {
body{
  padding:0;
  margin:0;
  font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:1.5;
  color: #606c71;}
    }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color:#FA8072;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: #FA8072;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: #155799;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #155799; }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #FA8072, #155799); }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; 
animation:name1 8s;
  animation-iteration-count:infinite;
}

@keyframes name1 {
  0%{opacity:0;}
  100%{opacity:1;}
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; 
animation:name2 8s;
  animation-delay:2s;
  animation-iteration-count:infinite;
}
@keyframes name2 {
  0%{opacity:0;}
  100%{opacity:1;}
}



@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; 
  background-image: linear-gradient(120deg, #155799,#FA8072); }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

