

@media screen and (min-width:960px)
  {
body {
  width:100%;
  padding: 0;
  margin: 1.5rem auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; 
    }
}
    
@media screen and (max-width:960px)
  {
body{
  padding:0;
  margin:0;
  font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:1.5;
  color: #606c71;}
    }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color:#FA8072;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: #FA8072;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: #155799;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #155799; }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header {
  color: #fff;
  text-align: center;
  height:30%;
  background-color: #159957;
  background-image: linear-gradient(120deg, #FA8072, #155799); }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; 
animation:name1 8s;
  animation-iteration-count:infinite;
}
@keyframes name1 {
  0%{opacity:0;}
  100%{opacity:1;}
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; 
animation:name2 8s;
  animation-delay:2s;
  animation-iteration-count:infinite;
}
@keyframes name2 {
  0%{opacity:0;}
  100%{opacity:1;}
}

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color:  #155799; }
.main-content p {
  margin-bottom: 1em; }

.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
.main-content blockquote > :first-child {
    margin-top: 0; }
.main-content blockquote > :last-child {
    margin-bottom: 0; }

.main-content dl {
  padding: 0; }
.main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
.main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; 
  background-image: linear-gradient(120deg, #155799,#FA8072); }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@keyframes myfirst
{
0%   {background:#FA8072;left:0px;top:0px;}
100%  {background:#155799;left:100px;top:0px;border-radius:100%;}

}

.d2
{
  width:68px;
  height:68px;
  position:relative;
  background:transparent;  
  
  animation:myfirst 8s;
  animation-timing-function:linear;
animation-delay:2s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;  
  
@keyframes mytext
{
  0%{height:0px; width:100px;background:#FA8072;border-radius:100%;} 
  50%{height:15px; width:100px;background:#155799;border-radius:100%;}
  100%{height:30px;background:transparent;border-radius:100%;}
}
  
.text1
{
  
  height:0px;
  color:#FFFFFF;
  overflow:hidden;
  animation:mytext 8s;
  animation-delay:1s;
  animation-iteration-count:infinite;
}
.text2
{
 
  height:0px;
  color:#155799;
  overflow:hidden;
  animation:mytext 10s;
  animation-delay:2s;
  animation-iteration-count:infinite;
  
}
.text3
{
  height:0px;
  overflow:hidden;
  animation:mytext 12s;
  animation-delay:3s;
  animation-iteration-count:infinite;
  
}

@keyframes contact
{
  0%{width:0%;background:#FA8072;}
  50%{width:50%;background:#155799;}
  100%{width:100%;background:transparent;}
}
  
.contact1
{
  width:0px;
  height:60px;
  color:#ffffff;
  overflow:hidden;
  animation:contact 8s;
  animation-delay:1s;
  animation-iteration-count:infinite;
}
.contact2
{
  width:0px;
  height:70px;
  color:#ffffff;
  overflow:hidden;
  animation:contact 10s;
  animation-delay:2s;
  animation-iteration-count:infinite;
}
.contact3
{
  width:80px;
  height:80px;
  color:#ffffff;
  overflow:hidden;
  animation:contact 12s;
  animation-delay:3s;
  animation-iteration-count:infinite;
}

 @keyframes textB {
  0%{opacity:0}
  100%{opacity:1}
}
  
.textA {
  color:#FA8072;
  font-size:16px;
  animation:textB 8s;
  animation-iteration-count:infinite;
}






