@keyframes myfirst
{
0%   {background:#FA8072;left:0px;top:0px;}
25%  {background:#155799;left:100px;top:0px;border-radius:100%;}
50%  {background:transparent;left:100px;top:100%;}
75%  {background:#155799; left:0px;top:100%;}
100% {background:#FA8072;left:0px;top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background:#FA8072;left:0px;top:0px;}
25%  {background:#155799;left:100px;top:0px;border-radius:100%;}
50%  {background:transparent;left:100px;top:100%;}
75%  {background:#155799; left:0px;top:100%;}
100% {background:#FA8072;left:0px;top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:#FA8072;left:0px;top:0px;}
25%  {background:#155799;left:100px;top:0px;border-radius:100%;}
50%  {background:transparent;left:100px;top:100%;}
75%  {background:#155799; left:0px;top:100%;}
100% {background:#FA8072;left:0px;top:0px;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {background:#FA8072;left:0px;top:0px;}
25%  {background:#155799;left:100px;top:0px;border-radius:100%;}
50%  {background:transparent;left:100px;top:100%;}
75%  {background:#155799; left:0px;top:100%;}
100% {background:#FA8072;left:0px;top:0px;}
}
.d2
{
  width:68px;
  height:68px;
  position:relative;
  background:transparent;  
  
  animation:myfirst 8s;
  animation-timing-function:linear;
animation-delay:2s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;  
  
   /* Firefox */
  -moz-animation:myfirst 8s;
   -moz-animation-timing-function:linear;
-moz-animation-delay:2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:alternate;
-moz-animation-play-state:running;
  
 /* Safari and Chrome */
-webkit-animation:myfirst 8s; 
   -webkit-animation-timing-function:linear;
-webkit-animation-delay:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
  
  /* Opera */
-o-animation:myfirst 8s; 
  -o-animation-timing-function:linear;
-o-animation-delay:2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:alternate;
-o-animation-play-state:running; 
  
}

.text1
{
  height:0;
  color:#FA8072;
  white-space:nowrap;
  overflow:hidden;
  line-height:26px;
  animation:textshow 5s;
  animation-iteration-count:infinite;
}
.text2
{
  height:0px;
  color:#155799;
  white-space:nowrap;
  overflow:hidden;
  line-height:26px;
  animation:textshow 5s;
  animation-delay:2s;
  animation-iteration-count:infinite;
}
.text3
{
  height:0px;
  color:#FA8072;
  white-space:nowrap;
  overflow:hidden;
  line-height:26px;
  animation:textshow 5s;
  animation-delay:3s;
 animation-iteration-count:infinite;
}
  

@keyframes textshow
{
  0%{height:0%}
  50%{height:50%}
  100%{height:100%}
}
